.word-home {
}

.wordHomeH100 {
  height: 100%;
}

.color-red {
  color: red;
}

.word-main {
  // 滚动条导致的宽度调整
  // width: calc(100% - 17px);
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  animation: myfirst 1s;

  .word-main-item {
    // flex: 1 1 150px;
    // min-width: 80px;
    height: 150px;
    padding: 10px;
    // border: 1px solid black;
    border-radius: 8px;
    transition: transform 0.5s, box-shadow 0.5s;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      transform: translate(0, -2px);
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
  }
  .flex-pc {
    flex: 1 1 calc((100% - 45px) / 4);
  }
  .flex-phone {
    flex: 1 1 calc((100% - 15px) / 2);
  }
}

.item-word {
  height: 30%;
  // display: grid;
  // place-content: center;
  // font-weight: bold;
  display: flex;
  justify-content: space-between;
  .item-word-left {
    font-weight: bold;
    font-size: 18px;
  }
  .item-word-right {
  }
}

.item-describe {
  height: 80%;
}

.header {
  border-bottom: 1px solid #dadfe6;
  background: #f4f7fb;
  font-weight: bold;
}

.ant-layout-content {
  background-color: #f4f7fb;
}

.sider {
  overflow: auto;
  transition: all 0.5s;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.ant-drawer-body {
  height: 100%;
  padding: 0;
}

@keyframes myfirst {
  from {
    transform: translate(0, -40px);
  }
  to {
    transform: translate(0, 0);
  }
}
